{% extends 'base1.html' %} {% load static %} {% block content %}
<script src="{% static 'assets1/js/plugins/swiper-bundle.min.js' %}"></script>
<div class="position-relative overflow-hidden">
  <div class="swiper mySwiper mt-4 mb-2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div>
          <div
            class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0"
          >
            <div
              class="full-background bg-cover"
              style="
                background-image: url('{% static 'assets/uploads/banana.png' %}');
              "
            ></div>
            <div class="card-body text-start px-3 py-0 w-100">
              <div class="row mt-12">
                <div class="col-sm-3 mt-auto">
                  <h4 class="text-white font-weight-bolder no_toc">
                    Banana Milkshake
                  </h4>
                  <p
                    class="text-white opacity-6 text-xs font-weight-bolder mb-0"
                  >
                    Healthy /p>
                  </p>
                  <h5 class="text-white font-weight-bolder no_toc">
                    Banana + Milk
                  </h5>
                </div>
                <div class="col-sm-3 ms-auto mt-auto">
                  <p
                    class="text-white opacity-6 text-xs font-weight-bolder mb-0"
                  >
                    Thick shake
                  </p>
                  <a
                    href="https://www.youtube.com/shorts/_iHRF-y6G5U"
                    target="_blank"
                    class="btn btn-primary mt-3"
                    >Watch</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0"
        >
          <div
            class="full-background bg-cover"
            style="
              background-image: url('{% static 'assets/uploads/apple.png' %}');
            "
          ></div>
          <div class="card-body text-start px-3 py-0 w-100">
            <div class="row mt-12">
              <div class="col-sm-3 mt-auto">
                <h4 class="text-white font-weight-bolder no_toc">
                  Apple Shake
                </h4>
                <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">
                  Healthy
                </p>
                <h5 class="text-white font-weight-bolder no_toc">
                  Thick Shake
                </h5>
              </div>
              <div class="col-sm-3 ms-auto mt-auto">
                <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">
                  Apple Milk
                </p>
                <a
                  href="https://www.youtube.com/shorts/_iHRF-y6G5U"
                  target="_blank"
                  class="btn btn-primary mt-3"
                  >Watch</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0"
        >
          <div
            class="full-background bg-cover"
            style="
              background-image: url('{% static 'assets/uploads/biryani.png' %}');
            "
          ></div>
          <div class="card-body text-start px-3 py-0 w-100">
            <div class="row mt-12">
              <div class="col-sm-3 mt-auto">
                <h4 class="text-white font-weight-bolder no_toc">
                  Chicken Biryani
                </h4>
                <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">
                  Non Veg
                </p>
                <h5 class="text-white font-weight-bolder no_toc">
                  Tasty Biryani
                </h5>
              </div>
              <div class="col-sm-3 ms-auto mt-auto">
                <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">
                  Hyderabad
                </p>
                <a
                  href="https://www.youtube.com/shorts/_iHRF-y6G5U"
                  target="_blank"
                  class="btn btn-primary mt-3"
                  >Watch</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0"
        >
          <div
            class="full-background bg-cover"
            style="
              background-image: url('{% static 'assets/uploads/egg.png' %}');
            "
          ></div>
          <div class="card-body text-start px-3 py-0 w-100">
            <div class="row mt-12">
              <div class="col-sm-3 mt-auto">
                <h4 class="text-white font-weight-bolder no_toc">Egg Rice</h4>
                <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">
                  Non veg
                </p>
                <h5 class="text-white font-weight-bolder no_toc">egg rice</h5>
              </div>
              <div class="col-sm-3 ms-auto mt-auto">
                <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">
                  Tasty
                </p>
                <a
                  href="https://aryan.digitalsamba.com/demo-room"
                  target="_blank"
                  class="btn btn-primary mt-3"
                  >watch</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0"
        >
          <div
            class="full-background bg-cover"
            style="
              background-image: url('{% static 'assets/uploads/egg.png' %}');
            "
          ></div>
          <div class="card-body text-start px-3 py-0 w-100">
            <div class="row mt-12">
              <div class="col-sm-3 mt-auto">
                <h4 class="text-white font-weight-bolder no_toc">Egg Rice</h4>
                <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">
                  Egg Rice
                </p>
                <h5 class="text-white font-weight-bolder no_toc">Egg Ricee</h5>
              </div>
              <div class="col-sm-3 ms-auto mt-auto">
                <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">
                  Egg Rice
                </p>
                <a
                  href="https://aryan.digitalsamba.com/demo-room"
                  target="_blank"
                  class="btn btn-primary mt-3"
                  >Watch</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0"
        >
          <div
            class="full-background bg-cover"
            style="
              background-image: url('{% static 'assets/uploads/egg.png' %}');
            "
          ></div>
          <div class="card-body text-start px-3 py-0 w-100">
            <div class="row mt-12">
              <div class="col-sm-3 mt-auto">
                <h4 class="text-white font-weight-bolder no_toc">Egg Rice</h4>
                <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">
                  Egg Rice
                </p>
                <h5 class="text-white font-weight-bolder no_toc">Egg Rice</h5>
              </div>
              <div class="col-sm-3 ms-auto mt-auto">
                <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">
                  Egg Rice
                </p>
                <a
                  href="https://aryan.digitalsamba.com/demo-room"
                  target="_blank"
                  class="btn btn-primary mt-3"
                  >Watch</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<script>
  var swiper = new Swiper(".mySwiper", {
    effect: "cards",
    grabCursor: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  var strengthsData = {{ strengths_chart_data|safe }};
  var improvementsData = {{ improvements_chart_data|safe }};

  new Chart(document.getElementById('strengthChart'), {
  type: 'doughnut',
  data: strengthsData,
  options: { responsive: true, maintainAspectRatio: false }
  });

  new Chart(document.getElementById('improvementChart'), {
  type: 'doughnut',
  data: improvementsData,
  options: { responsive: true, maintainAspectRatio: false }
  });
  });
</script>
{% endblock %}
